/* Custom CSS untuk POS Kasir & Format Cetak Nota 58mm */

/* Format Khusus Cetak Nota Thermal 58mm */
@media print {
    body * {
        visibility: hidden !important;
    }
    #receipt-printable-area, #receipt-printable-area * {
        visibility: visible !important;
    }
    #receipt-printable-area {
        position: absolute !important;
        left: 0 !important;
        top: 0 !important;
        width: 58mm !important;
        padding: 4px !important;
        margin: 0 !important;
        background: #fff !important;
        color: #000 !important;
        font-family: 'Courier New', Courier, monospace !important;
        font-size: 10px !important;
        line-height: 1.2 !important;
    }
}
